.rct-review-pros-cons-wrap {
	float: left;
	width: 48%;
}

.rct-featured-image-wrap {
	float: right;
	width: 48%;
}

.rct-review-summary-wrap,
.rct-review-content {
	clear: both;
}

.single-review .rct-review-pros-cons-wrap h3,
.single-review .rct-review-summary-wrap h3 {
	margin-top: 0;
}

.rct-review-link.rct-button-link-style {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0.7917em 0;
	padding: 0.7917em 1.5em;
	border: 0 none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	background: #39c;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

.rct-review-link.rct-button-link-style:hover,
.rct-review-link.rct-button-link-style:focus,
.rct-review-link.rct-button-link-style:active {
	outline: 0;
	color: #fff;
	background: #246b8f;
	text-decoration: none;
}

.rct-review-price {
	margin: 0.7917em 0;
	text-align: center;
}

.rct-review-price span:first-child {
	display: block;
	font-size: 2em;
}

.rct-review-rating {
	margin: 0.7917em 0;
	text-align: center;
	cursor: default;
}

.rct-star-rating {
	white-space: nowrap;
}

.rct-star-rating .dashicons {
	width: inherit;
	height: inherit;
	color: #ff9d20;
	font-size: 1em;
	line-height: inherit;
}
